div button a{
    color: white;
    text-decoration: none;
}

form h1{
    text-align: center;
    border: solid;
    margin-bottom: 50px;
    padding: 5px 5px 5px 5px;
}
div label{  
    font-size: large;

}