<div class="container pt-5">
  <div class="row">
    <div class="col-md-3"></div>

    <form class="col-md-6">
      <h1 class="pb-3">CREATE NEW JOB TITLE</h1>

      <!-- Messages -->
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

      <div class="form-group">
        <label class="required-field" for="name">Job title</label>
        <input [(ngModel)]="jobTitle.name"
               (focusout)="touched.name = true"
               [class.is-invalid]="touched.name && !isValidName()"
               [class.is-valid]="touched.name && isValidName()"
               class="form-control" id="name" name="name"
               required type="text"
               placeholder="Enter new job title">
      </div>

      <!-- alart for input -->
      <div *ngIf="touched.name && !isValidName()" class="alert alert-danger" role="alert">
          Job title is empty  
      </div>


      <div class="form-group">
        <label class="required-field" for="monthlyAmount">Monthly amount</label>
        <input [(ngModel)]="jobTitle.monthlyAmount"
               (focusout)="touched.amount = true"
               (keypress)="keyPressOnAmount($event)"
               [class.is-invalid]="touched.amount && !isValidAmount()"
               [class.is-valid]="touched.amount && isValidAmount()"
               class="form-control" id="monthlyAmount" name="monthlyAmount"
               required type="number" min="0" step="1000"
               placeholder="Enter monthly amount">
      </div>
      <div *ngIf="touched.amount && !isValidAmount()" class="alert alert-danger" role="alert">
        Amount of money is not okay!
      </div>

      <div class="text-center">
        <button (click)="create()" class="btn btn-success m-1" type="submit">
          <i class="fas fa-plus"></i> ADD
        </button>
        <button (click)="reset()" class="btn btn-secondary m-1" type="button">
          <i class="fas fa-undo"></i> RESET
        </button>
        <button class="btn btn-secondary m-1" type="button">
          <a href="/jobs">
          <i class="fas fa-arrow-left"></i> BACK
          </a>
        </button>
      </div>
    </form>

    <div class="col-md-3"></div>
  </div>
</div>
